 **First programming code**

In [ ]:
print('hello Murad')

Sum programming

In [ ]:
number_1 = 5 #variable name number 1 with a value of 5
number_2 = 6 

result = number_1 + number_2

print(result)

If else

In [ ]:
result = 11
if result < 5:
  print('hudai')
else:
  print(result)

How the **PRINT** command work

In [ ]:
print("Hello Murad")

Drawing a shape

In [ ]:
print("   /I")
print("  / I")
print(" /  I")
print("/___I")

In [ ]:
print("I I             I            I")
print("I I             I            I")
print("I I             I            I")
print("I I             I            I")
print("I I___________    __________")

Variables & Data types

In case of variables and data- we stored data in a form of plain text or numbers. so there are various types like. Basically 3 types [
1.String- string is basically plain text and numbers 
2.Numbers- in case of numbers we can input just in python. we dont need quotation marks.]
<<<<Example 
character_name = "plain text or number"--- called string
character_number = number (without quotation mark)

In [ ]:
character_A = "Mithun"
character_B = "Rakib"
character_C = "Smruthi"
character_D = "sahana"
character_E = "Morad"
print(character_A + ", " + character_B + ", " + character_C + ", " + character_D + " and " + character_E +" are in a group named House of the AVATAR")
print(character_B + " asked for a movie night.")
print("He said, (you guys need some rest).")
print(character_A + " said he is busy doing group study")
print(character_C + "," + character_D + " does not reply")
print(character_E + " asked in the group that is there any plant or not for tonight?")
print(character_B + " replied with depression that nobody replied so no plan.")
print(character_E + " Relied to " + character_B + " that he is okay with the decision and he is going to cook and eat.")
print(character_B + " is so angry that he immidiately turn into crocodile and want to eat " + character_A + ", " + character_C + ", " + character_D + " but because of his broken leg " + character_B + " changed the plan")
print("so " + character_A + ", " + character_C + ", " + character_D + " are saved")
print("and " + character_E + " is eating paratha with alu baji alone and happily")

In [ ]:
character_A = "Jui"
character_B = "Fayyaz"
character_C = "Dhara"
character_D = "Noman"
character_E = "Jaj"
print(character_A + ", " + character_B + ", " + character_C + ", " + character_D + " and " + character_E +" are in a group named Unplanned Mafia")
print(character_B + " asked for a movie night.")
print("He said, (We will see Jism 4).")
print(character_A + " said she is busy doing **B.job**")
print(character_C + ", " + character_E + " does not reply.")
print(character_D + " asked in the group that is there any plan for tonight?")
print(character_B + " replied with depression that nobody loves horny movie so no plan.")
print(character_E + " replied to " + character_B + " that he is okay with the decision becuase he is studying hard for **BASHOR RAT**.")
print(character_B + " is so angry that he immidiately turn into **BA BA BLACKSHIP** and wants to poke " + character_E + " but because of his broken 3rd leg " + character_B + " changed the plan.")
print("so " + character_E + " is saved.")
print("and " + character_E + " is studying **MODHUR MILON** alone and tensely.")

3. True false value or Booleans value

**Working with Srings**

For different line = \n ,
For quotation mark = \" ,
For upper case = .upper() , for lower case = .lower(),
For checking the upper case or not = .isupper(),
For checking the lower case or not = .islower(),
For length function = len(string), it will tell how many characters in the string

In [ ]:
print("Hello, my name is Morad")

In [ ]:
print("Hello\nmy name is morad")

In [ ]:
print("Hello my name is \"morad\"")

In [ ]:
string_A = "Hello, my name is Morad"
print(string_A)
print(string_A + " He is a student of agriGenomics")
print(string_A.lower())
print(string_A.upper())
print(string_A.islower())
print(string_A.lower().islower())
print(string_A.isupper())
print(string_A.upper().isupper())
print(len(string_A))

To get a specific character in a string - 0 for 1st letter. and then 1,2,3 like this. so Here in string_A H is the 1st letter, code is = print(string_A[0]),,,,,,,,,,Index function ----- which tell us where the specific character located in a string. code is print(string_A.index()),,,,,,,,,,,,,,,,,,,,Replace function------- is to replace characters. code is print(string_A.replace("Morad", "Sayem"))

In [ ]:
string_A = "Hello, my name is Morad"
print(string_A)
print(string_A[0])
print(string_A[22])
print(len(string_A))
print(string_A.index("a"))
print(string_A.index("ad"))
print(string_A.index("m"))
print(string_A.index("me"))
print(string_A.index("is"))
print(string_A.replace("Morad", "Sayem"))
print(string_A.replace("Morad", "Mohsin"))
string_B = print(string_A.replace("Morad", "Mohsin"))
string_c = print(string_A.replace("Morad", "Sayem"))

**WORKING WITH NUMBERS**

Normal operations of number like just print the number, addition, substraction, multiplication, division.

In [ ]:
print(2)
print(2.05545)
print(-345)
print(0.2)
print(5+3)
print(3.876+51.5678889)
print(6756578658-45784648575)
print(475648756478/3764327647)
print(47547547*7347848)

In [ ]:
print(5*6+3-7/3)
print((5*6)+3-(7/3))
print(5*(6+3)-7/3)

Modulus operations

In [ ]:
print(23%7)
print(345%5)
print(678%7)
print(9876.654%13.4)

Modulus operations with variable

In [ ]:
num_1 = 45
num_2 = 4.76
num_3 = .098
num_4 = 78.560
num_5 = print(num_1%num_2)
print((num_4 * num_2)-num_1+ (num_2%num_3))
num_6 = print((num_4 * num_2)-num_1+ (num_2%num_3))
print(num_5)
print(num_4)
print(num_6)

Conversion of a number into a string

In [ ]:
num_7 = 1
print(num_7)
print(str(num_7) + " is a prime number")
num_8 = 28
print(str(num_8)+ " is morad\'s age")

Math Functions

Absolute values of number, power values, maximum value, minimum value, rounding values

In [ ]:
num_9 = 4 
num_10 = -8
print(abs(num_9))
print(abs(num_10))
print(pow(2, 3))
print(pow(num_9, 3))
print(pow(num_10, 3))
print(max(12,45,98,67,56,34,10))
print(min(12,45,98,67,56,34,10))
print(round(27.098))
print(round(34.591))
print(round(59.456))

Importing python math to access for complex math functions-----------Floor function (cut the portion after dot),,,,,,, ceil function (Round up the number no matter what),,,,,,,,,,,, sqare root function (square root of the number)

In [ ]:
from math import *
print(floor(5.3))
print(floor(9.45))
print(floor(17.51))
print(ceil(5.3))
print(ceil(9.45))
print(ceil(17.51))
print(sqrt(8))
print(sqrt(945))
print(sqrt(121))

**GETTING INPUT FROM USERS**

In [ ]:
name = input("First name: ")
print("Hello " + name + "!")
Name = input("last name: ")
print("Nice name " + Name)
AGE = input("Real age: ")
print("wow, is it " + AGE + "?")
age = input("Certificate age: ")
print("A ha, " + age + " it makes sense.")
Gender = input("Gender: ")
print("You looks like " + Gender + " ha ha ha!")
Address = input("Address: ")
print("Okay! " + Address + "it is nearer than Steenbecker weg.")

In [ ]:
Family_member = input("Family Member: ")
print(Family_member + " is nice. who are they?")
Members = input("parents: "), input("siblings: ")
print("Wow, but only 4 they are. who are other 2?")
Others = input("others: ")
print("okay, " + Others + "and?")
others = input("others: ")
print("Nice, 2 parents, 2 siblings and" + others + "and" + Others)

**BUILDING A BASIC CALCULATOR**

In [ ]:
num1 = input("First number: ")
num2 = input("second number: ")
num3 = input("third number: ")
num4 = num1 + num2 + num3
print(num4)
print("the results should not be 129, why? - see the next code with int (integer number)  and float (decimal number)")

Float(with decimal number) and int(with integer number)

In [ ]:
num1 = input("First number: ")
num2 = input("second number: ")
num3 = input("third number: ")
num4 = float(num1) + float(num2) + float(num3)
print(num4)
num5 = input("5th number: ")
num6 = input("6th number: ")
num7 = input("7th number: ")
num8 = int(num5) + int(num6) + int(num7)
print(num8)