<a href="https://colab.research.google.com/github/longCLAWWielder/Python-Basic/blob/main/Tupules_Functions_Returnstatements_If_else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TUPLES** = Simmilar to lists but the coordinates inside tupules cannot be changed like lists. One you set the tuples its fixed. So practically, people use tuples to store data which never gonna change.

*   In lists [] used for store the data like "age = [28, 30, 32, 34, 36, 38, 40, 42]
*   In tuples () used for store the data like "size = (28, 30, 32, 34, 36, 38, 40, 42)

But if you have some tuples and you make a list of them then you can use the functions of lists to play with the elements of lists but in that case a whole tuple acts as an individual element.

In [ ]:
size = (28, 30, 32, 34, 36, 38, 40, 42)
print(size)
print(size[3])
print(size[6])
print(size[2])
print(size[4])

(28, 30, 32, 34, 36, 38, 40, 42)
34
40
32
36

In [ ]:
couples = [("robi, bunu"), ("mithun, smruthi"), ("ovi, shorna") ]
print(couples)
couples.append("morad, dot")
print(couples)
couples.insert(2, "rakib, sahana")
print(couples)
couples.pop()
print(couples)
couples.remove("mithun, smruthi")
print(couples)
print(couples.index("robi, bunu"))
print(couples.count("robi, bunu"))
couples.clear()
print(couples)

['robi, bunu', 'mithun, smruthi', 'ovi, shorna']
['robi, bunu', 'mithun, smruthi', 'ovi, shorna', 'morad, dot']
['robi, bunu', 'mithun, smruthi', 'rakib, sahana', 'ovi, shorna', 'morad, dot']
['robi, bunu', 'mithun, smruthi', 'rakib, sahana', 'ovi, shorna']
['robi, bunu', 'rakib, sahana', 'ovi, shorna']
0
1
[]

**FUNCTIONS** = function is basically a group of codes which are u=sed for performing a specific task.

In [ ]:
def days():
  print("365 days")
  print("sometimes it is 366 days")
  print("when its leap year")
print("Year")
days()
print("Leap year is also a year")

Year
365 days
sometimes it is 366 days
when its leap year
Leap year is also a year

Parameters inside the functions

In [ ]:
def study(name):
  print(name + " is hard to study")
  print("my mark is really low in " + name)

study("Breeding")

def study(name, lenght, slides,):
  print(name + " is hard.", name + " included a lots of " + lenght + "." , "one " + lenght + " consists of " + slides + " slides.")

study("Breding", "lectures", "45")
def study(name, lenght, slides,):
  print(name + " is hard.", name + " included a lots of " + lenght + "." , "one " + lenght + " consists of " + str(slides) + " slides.")

study("Breding", "lectures", 45)

Breeding is hard to study
my mark is really low in Breeding
Breding is hard. Breding included a lots of lectures. one lectures consists of 45 slides.
Breding is hard. Breding included a lots of lectures. one lectures consists of 45 slides.

**"RETURN" STATEMENT** of function = to get information back from a function

In [ ]:
def cube(num):
  num*num*num

cube(3)
def cube(num):
  num*num*num

print(cube(3))
def cube(num):
  print(num*num*num)

cube(3)
def cube(num):
  return num*num*num

cube(3)

None
27

27

In [ ]:
def cube(num):
 return num*num*num

result = cube(3)
print(result)
cube(3)

27

27

In [ ]:
def cube(num):
 return num*num*num

result = cube(3)
cube(3)
print(result)

27

In [ ]:
def cube(num):
 return num*num*num
 print("number")
 
result = cube(3)
cube(3)
print(result)

27

In [ ]:
def cube(num):
 return num*num*num
 print("number")

result = cube(3)
print(result)
cube(3)

27

27

**IF/ELSE STATEMENT**

In [ ]:
student = True
teacher = True

if student:
  print("I am a student")
else:
  print("I am a teacher")

I am a student

If/else statement with or

In [ ]:
student = True
teacher = True

if student or teacher:
  print("I am a student and a teacher")
else:
  print("I am neither student or teacher")

I am a student and a teacher

In [ ]:
student = True
teacher = False

if student or teacher:
  print("I am a student and a teacher")
else:
  print("I am neither student or teacher")

I am a student and a teacher

In [ ]:
student = False
teacher = False

if student or teacher:
  print("I am a student and a teacher")
else:
  print("I am neither student or teacher")

I am neither student or teacher

If/else statement with and

In [ ]:
student = True
teacher = True

if student and teacher:
  print("I am a student and a teacher")
else:
  print("I am neither student or teacher")

I am a student and a teacher

In [ ]:
student = False
teacher = True

if student and teacher:
  print("I am a student and a teacher")
else:
  print("I am neither student or teacher")

I am neither student or teacher

In [3]:
student = False
teacher = False

if student and teacher:
  print("I am a student and a teacher")
else:
  print("I am neither student or teacher")

I am neither student or teacher

If/else statement with **elif **or elseif

In [10]:
student = True
teacher = True

if student and teacher:
  print("you are a student and teacher")

elif student and not(teacher):
  print("you are a student")
elif not(student) and teacher:
  print("You are  a teacher")

else: 
  print("you are neither a teacher or  a studnet")

you are a student and teacher

In [11]:
student = True
teacher = False

if student and teacher:
  print("you are a student and teacher")

elif student and not(teacher):
  print("you are a student")
elif not(student) and teacher:
  print("You are  a teacher")

else: 
  print("you are neither a teacher or  a studnet")

you are a student

In [12]:
student = False
teacher = False

if student and teacher:
  print("you are a student and teacher")

elif student and not(teacher):
  print("you are a student")
elif not(student) and teacher:
  print("You are  a teacher")

else: 
  print("you are neither a teacher or  a studnet")

you are neither a teacher or  a studnet

In [13]:
student = False
teacher = True

if student and teacher:
  print("you are a student and teacher")

elif student and not(teacher):
  print("you are a student")
elif not(student) and teacher:
  print("You are  a teacher")

else: 
  print("you are neither a teacher or  a studnet")

You are  a teacher

**IF/else STATEMENT & COMPARISONS**

* In this case " >=, <= " are Comparison operator
*  some comparison operators are " <, >, == means equal to, != means not equal to

In [14]:
def max_value(n1, n2, n3, n4, n5):
  if n1 >= n2 and n1 >= n3 and n1 >= n4 and n1 >= n5:
    return n1
  elif n2 >= n1 and n2 >= n3 and n2 >= n4 and n2 >= n5:
    return n2 
  elif n3 >= n1 and n3 >= n2 and n3 >= n4 and n3 >= n5:
    return n3
  elif n4 >= n1 and n4 >= n2 and n4 >= n3 and n4 >= n5:
    return n4
  else:
    return n5

print(max_value(34, 36, 48, 21, 67))

67

In [16]:
def min_value(n1, n2, n3, n4, n5):
  if n1 <= n2 and n1 <= n3 and n1 <= n4 and n1 <= n5:
    return n1
  elif n2 <= n1 and n2 <= n3 and n2 <= n4 and n2 <= n5:
    return n2 
  elif n3 <= n1 and n3 <= n2 and n3 <= n4 and n3 <= n5:
    return n3
  elif n4 <= n1 and n4 <= n2 and n4 <= n3 and n4 <= n5:
    return n4
  else:
    return n5

print(min_value(34, 36, 48, 21, 67))

21