<a href="https://colab.research.google.com/github/longCLAWWielder/Python-Basic/blob/main/expo_functions/2Dlist%26nested_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**EXPONENT FUNCTIONS**

In [ ]:
def power_of_11(number, power):
  result = 1
  for index in range(power):
    result = result * number
  return result

print(power_of_11(11,5))

def power_of_11(number, power):
  result = 2 
  for index in range(power):
    result = result * number
  return result

print(power_of_11(11,5))

161051
322102

2D LIST & NESTED LOOPS

2D LIST

In [7]:
age_grid = [
    [36, 34, 28, 21],
    [32, 28, 23],
    [27, 22, 17],
    [23, 23, 19, 15],
    [24,16], 
    [11, 7, 4],
    [13, 11, 9, 7, 4, 1],
    [2],
    [3]
]

print(age_grid[7][0])
print(age_grid[8][0])
print(age_grid[2][2])
print(age_grid[6][5])

2
3
17
1

In [11]:
name_grid = [
    ["hasan", "liza", "mona", "fahim"],
    ["shaun", "sayem", "tamanna"],
    ["anisha", "alif"],
    ["mim", "riduan", "minha"]
]

print(name_grid[2][1])
print(name_grid[1][1])

alif
sayem

NESTED FOR LOOPS
--- FOR LOOPS INSIDE OF A FOR LOOPS

In [13]:
age_grid = [
    [36, 34, 28, 21],
    [32, 28, 23],
    [27, 22, 17],
    [23, 23, 19, 15],
    [24,16], 
    [11, 7, 4],
    [13, 11, 9, 7, 4, 1],
    [2],
    [3]
]

for row in age_grid:
  print(row)
for row in age_grid:
  for col in row: 
    print(col)

[36, 34, 28, 21]
[32, 28, 23]
[27, 22, 17]
[23, 23, 19, 15]
[24, 16]
[11, 7, 4]
[13, 11, 9, 7, 4, 1]
[2]
[3]
36
34
28
21
32
28
23
27
22
17
23
23
19
15
24
16
11
7
4
13
11
9
7
4
1
2
3

In [15]:
age_grid = [
    [36, 34, 28, 21],
    [32, 28, 23],
    [27, 22, 17],
    [23, 23, 19, 15],
    [24,16], 
    [11, 7, 4],
    [13, 11, 9, 7, 4, 1],
    [2],
    [3]
]

for col in age_grid:
  print(col)
for col in age_grid:
  for row in col:
    print(row)

[36, 34, 28, 21]
[32, 28, 23]
[27, 22, 17]
[23, 23, 19, 15]
[24, 16]
[11, 7, 4]
[13, 11, 9, 7, 4, 1]
[2]
[3]
36
34
28
21
32
28
23
27
22
17
23
23
19
15
24
16
11
7
4
13
11
9
7
4
1
2
3